<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
  <form action="/" method="post" class="search">
    <label for="location">Location: </label>
    <input type="text" id="location" name="location" value="<%=locals.input%>" />
    <button type="submit">Search</button>
  </form>

  <%- include("partials/errors.ejs") %>

  <% if (locals.success) { %>
  <p><%= location %></p>
  <p>Latitude: <%= latitude %></p>
  <p>Longitude: <%= longitude %></p>

  <p>Kia ora <%= location %>, this is the <%= datetime %> weather update. Right now, the conditions are "<%= currently.condition %>". It feels like <%= currently.temperature %>°C.</p>

  <p>For the next few hours, the conditions will be "<%= hourly.condition %>"</p>

  <p>In the coming week, the conditions will be "<%= daily.condition %>"</p>
  <% } %>
</body>

</html>