<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wizard Weather Forecast</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/styles.css">
  <script src="./scripts/htmx.min.js"></script>
  <script src="./scripts/toggleScanline.js" defer></script>
  <style>
    html {
      background-color: #1b305a;
    }
  </style>
</head>

<body class="scanlines" onload="startTime()">

  <header>
  <h1 class="off-screen">Wizard Weather Forecast</h1>
    <form action="/" method="post" class="search">
      <label for="location">Location: </label>
      <input type="text" id="location" name="location" value="<%=locals.input%>" />
      <button type="submit">Search</button>
    </form>
    <button id="toggle-scanline">Toggle scanlines</button>
  </header>

  <main>
    <%- include("partials/errors.ejs") %>

    <noscript>
      <div class="noscript">
        <h2>Weather Report Transcript </h2>
        <div class="noscript_section">
          <img src="./images/tellie.gif" alt="Tellie looking at the straight at the viewer and talking.">
          <div>
            <p>Kia ora <%= location %>! It is currently <%= datetime %>.</p>
            <p>You're watching the Wizard Weather Forecast. I am your reporter Tellie, bringing you the latest weather update.</p>
          </div>

        </div>


        <div class="noscript_section">
          <div>
            <img loading="lazy" decoding="async" src="./images/tellie-currently.gif" alt="Tellie looking to the right, talking and pointing to the weather icon with their star wand.">
          </div>
          <p>Right now, the conditions are "<%= currently.condition.toLowerCase() %>". It feels like <%= currently.temperature %>°C.</p>
        </div>

        <div class="noscript_section">
          <div>
            <img loading="lazy" decoding="async" src="./images/tellie-hourly.gif" alt="Tellie looking at the straight at the viewer, talking, smiling and waving their hands.">
          </div>
          <p>For the next few hours, conditions are "<%= hourly.condition.toLowerCase() %>"</p>
        </div>

        <div class="noscript_section">
          <div>
            <img loading="lazy" decoding="async" src="./images/tellie-daily.gif" alt="Telling talking while looking at a shining orb.">
          </div>
          <p>Our predictions for the coming week are "<%= daily.condition.toLowerCase() %>"</p>
        </div>

        <div class="noscript_section">
          <div>
            <img loading="lazy" decoding="async" src="./images/tellie.gif" alt="Tellie looking at the straight at the viewer and talking.">
          </div>
          <div>
            <p>...And that's it for the weather report. As usual, nothing is definite as the whims of nature are beyond our ken.</p>
            <p>Thanks for tuning in!</p>
          </div>
        </div>
      </div>
    </noscript>

    <h2 class="off-screen">TV</h2>
    <div class="init_tv filter" hx-post="/clicked/-1" hx-trigger="load" hx-swap="innerHTML">
      <noscript>
        <div>
          <p>No Javascript :O</p>
          <p>The TV is out of order because it needs Javascript to function...(◡_◡)</p>
        </div>
      </noscript>
    </div>
  </main>
  <footer>
    <p class="center">Handcrafted by wenxuan (2026)</p>

    <p id="time" data-timezone="<%= timezone %>">0:00:00 (PNF404)</p>

    <% let timeZone = timezone %>

    <script>
      function startTime() {

        let timezone = document.getElementById('time').dataset.timezone

        const timeNow = new Date();

        const time = new Intl.DateTimeFormat("en-GB", {
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
          timeZone: timezone,
        }).format(timeNow);

        document.querySelector('#time').textContent = `${time} (${timezone})`;

        setTimeout(startTime, 1000);
      }
    </script>
  </footer>
</body>

</html>